/* 上水石 author:pengzg  公共部分 */
body{background-color: #2A81CD;}
/* 头部 */
#head-div{width:100%; height: 100px;}
#head-div>div{display: inline-block;vertical-align: top;}
#head-div>.head-icon{width:40%;}
#head-div>.head-icon img {margin-left:20%;width: 60%; height: 80px;margin-top:10px;}
#head-div>.head-nav{width: 50%; height: 80px;}
#head-div>.head-nav ul li{display: inline-block;font-size: 20px;line-height: 100px;width:100px;text-align: center;}
#head-div>.head-nav ul li a{color:white;}
/* 轮播图 */
#mySwiper{margin-top:20px;}
#mySwiper .swiper-container {width: 100%;height: 500px;}
#mySwiper .swiper-wrapper img{ width: 100%;}
/* 视频框 */
#video-div{height:440px; width:100%;background:#fff;}
#video-div>div{display: inline-block;vertical-align: top;}

#video-div>.text-box{padding-left:10%;width:30%;}
#video-div>.text-box>div:nth-of-type(1){height: 60px;font-size: 26px;font-weight: 300;margin-top:50px;line-height: 60px;}
#video-div>.text-box>div:nth-of-type(2){height: 200px;font-size: 18px;}

#video-div>.video-box{width:50%;height: 380px;padding:30px;}
#video-div>.video-box .video-content{width:80%;margin-top:30px;height: 320px;position: relative;}
#video-div>.video-box .video-content video{height: 100%;left:75%;margin-left:-50%;position: absolute;}
/* 产品 */
#goods-div{height: 400px;width:100%;}
#goods-div .goods-div-title{height: 80px;width:100%;line-height: 80px;font-weight: 300;font-size: 26px;padding-left:10%;}

#goods-div .goods-div-list{height: 300px;width:100%;}
#goods-div .goods-div-list>div{display: inline-block;vertical-align: top;width:20%;margin-left:10%;}
#goods-div .goods-div-list>div .goods-img{ height: 150px;width:100%;text-align: center;}
#goods-div .goods-div-list>div .goods-img img{ height: 150px;width:150px;}
#goods-div .goods-div-list>div .goods-title {font-size: 22px;height:60px;line-height: 60px;text-align: center;}
#goods-div .goods-div-list>div .goods-desc {font-size: 20px;}

/* 深山出好水 */
#media-div1{height: 450px;width:100%;background:#fff;}
#media-div1 .goods-div-title{height: 80px;width:100%;line-height: 80px;font-weight: 300;font-size: 26px;padding-left:10%;}
#media-div1 .media-desc{height: 350px;width:100%;}
#media-div1 .media-desc>div{display: inline-block;vertical-align: top;}
#media-div1 .media-desc>div:nth-of-type(1){width:40%;padding-left:10%;overflow: hidden;}
/* 轮播图 */
#imgSwiper{margin-top:0px;}
#imgSwiper .swiper-container {width: 100%;height: 350px;}
#imgSwiper .swiper-wrapper img{ width: 100%;height: 350px;}
#media-div1 .media-desc>div:nth-of-type(2){width:40%;padding-left:5%;overflow: hidden;font-size: 20px;text-indent:2em;padding-top:30px;}

/* 二 */
#media-div2{height: 450px;width:100%;background:#2A81CD;}
#media-div2 .goods-div-title{height: 80px;width:100%;line-height: 80px;font-weight: 300;font-size: 26px;padding-left:10%;}
#media-div2 .media-desc{height: 350px;width:100%;}
#media-div2 .media-desc>div{display: inline-block;vertical-align: top;}
#media-div2 .media-desc>div:nth-of-type(2){width:40%;padding-left:10%;overflow: hidden;}
/* 轮播图 */
#imgSwiper{margin-top:0px;}
#imgSwiper .swiper-container {width: 100%;height: 350px;}
#imgSwiper .swiper-wrapper img{ width: 100%;height: 350px;}
#media-div2 .media-desc>div:nth-of-type(1){width:40%;padding-left:5%;overflow: hidden;font-size: 20px;text-indent:2em;padding-top:30px;}


/* 媒体优势 */
#media-div{height: 450px;width:100%;background:#fff;}
#media-div .goods-div-title{height: 80px;width:100%;line-height: 80px;font-weight: 300;font-size: 26px;padding-left:10%;}
#media-div .media-desc{height: 350px;width:100%;}
#media-div .media-desc>div{display: inline-block;vertical-align: top;}
#media-div .media-desc>div:nth-of-type(1){width:40%;padding-left:10%;overflow: hidden;}
/* 轮播图 */
#imgSwiper{margin-top:0px;}
#imgSwiper .swiper-container {width: 100%;height: 350px;}
#imgSwiper .swiper-wrapper img{ width: 100%;height: 350px;}
#media-div .media-desc>div:nth-of-type(2){width:40%;padding-left:5%;overflow: hidden;}
#media-div .media-desc>div:nth-of-type(2)>div>div:nth-of-type(1){height: 40px;color: red;font-size: 22px;font-weight: 300;line-height: 40px;}
#media-div .media-desc>div:nth-of-type(2)>div>div:nth-of-type(2){height: 30px;font-size: 18px;line-height: 30px;}
/* 立即购买 */
#qrcode-div{height: 252px;width: 100%;}
#qrcode-div .qrcode-div-title{height: 80px;width:100%;line-height: 80px;font-weight: 300;font-size: 26px;padding-left:10%;}
#qrcode-div .qrcode-box{height: 200px;width:100%;text-align: center;}
#qrcode-div .qrcode-box img{height: 200px;}
/* 关于我们 */
#about-div{height: 400px;width:100%;background:#fff;}
#about-div>div{height: 370px;width:80%;margin-left:10%;margin-top:80px;background-color: white;}
#about-div>div>div{display: inline-block;vertical-align: top;width:31%;padding:10px;}
#about-div>div>div .about-title{height: 60px;font-weight: 300;font-size: 22px;line-height: 60px;}
#about-div>div>div .about-img-box{height: 200px;width:100%; text-align: center;}
#about-div>div>div .about-img-box img{height: 200px;}
#about-div>div>div .about-text{font-size: 16px;line-height: 24px;margin-top:30px;}



/* 底部版权 */
#footer-div{width:100%;}
#footer-div .copyright-box{font-size: 16px;text-align: center;line-height: 30px;height: 30px;border-top:1px solid #ccc;}

