/* 上水石 author:pengzg  公共部分 */
body{background-color: #f0f0f0;}
/* 头部 */
#head-div{width:1171px;margin:auto; height: 87px;background-color: white;border-bottom: 1px solid #ccc;}
#head-div>div{display: inline-block;vertical-align: top;}
#head-div>.head-icon{width:22%;}
#head-div>.head-icon img {height: 77px;margin-top:5px;}
#head-div>.head-nav{width: 50%; height: 120px;}
#head-div>.head-nav ul li{color:#0D6CA4;display: inline-block;font-size: 21px;line-height: 30px;width:24%;text-align: center;margin-top:28px;}
#head-div>.head-nav ul li a{color:#0D6CA4;} 
/* 轮播图 */
#mySwiper{margin-top:0px;height: auto;text-align: center; width:100%;overflow: visible;overflow-x: hidden;}
#mySwiper .swiper-container {height: auto;width:100%;overflow: visible;overflow-x: hidden;}
#mySwiper .swiper-slide, .swiper-wrapper{height: auto;}
#mySwiper .swiper-wrapper img{height: auto;width:100%;} 
/* 轮播图 */
/* #mySwiper{margin-top:0px;height: 500px;text-align: center; width:100%;overflow: visible;overflow-x: hidden;}
#mySwiper .swiper-container {height: 500px;width:100%;overflow: visible;overflow-x: hidden;}
#mySwiper .swiper-slide, .swiper-wrapper{height: 500px;}
#mySwiper .swiper-background{background-position: center;-webkit-background-size:cover;-ms-background-size:cover;background-repeat: no-repeat;}
#mySwiper .swiper-wrapper img{height: 500px;width:100%;} */

/* 公共样式 */
.content-item {height: 650px;width:100%;background:#fff;color:#333;}
.content-item .goods-top-title{height: 57px;width:10%;;line-height: 70px;font-size: 26px;margin:auto;border-bottom: 11px solid red;text-align: center;}
.content-item .goods-div-title{height: 116px;line-height: 100px;font-size: 26px;border-top: 1px solid #abcdef;text-align: center;}
.content-item .media-desc{height: 425px;width:1171px;margin:auto;}
.content-item .media-desc> div{display: inline-block;vertical-align: top;}
/* 图片 */
.content-item .media-desc> .desc-pic{padding-left:2.5%;overflow: hidden;width: 50%;}
.content-item .media-desc> .desc-pic .img-box{width:100%;text-align: center;padding-top:10px;}
.content-item .media-desc> .desc-pic .img-box img{height: 200px;}

/* 文字 */
.content-item .media-desc .desc-text {width:42%; overflow: hidden;font-size: 16px;color:#333;line-height: 30px;padding-right:5%;text-align: justify;}
.content-item .media-desc .desc-text >h1{border-left: 12px solid red;padding-left: 10px;font-size: 1.5em;font-weight: 500;line-height: 1.6;margin: 0 0 1.6rem 0;color: #116CB0;}
.content-item .media-desc .desc-text .qrcode-box{width:100%;text-align: center;}
.content-item .media-desc .desc-text .qrcode-box div{width:100%;text-align: left; line-height: 80px;}
.content-item .media-desc .desc-text .qrcode-box img {width:100px;}

.content-item .media-desc> .desc-text .img-box{width:100%;text-align: center;padding-top:40px;}
.content-item .media-desc> .desc-text .img-box img{height: 150px;}

/* 合伙人 */
.content-item .partner-box{width:100%;position: relative;height:auto;}
.content-item .partner-box .tel{position: absolute;left:28%;top:374px; height: 73px;width:47%;background:#DDB870;color:#000;border-radius: 36.5px;text-align: center;line-height: 73px;font-size: 38px;font-weight: bold;}
.content-item .partner-box .text1{position: absolute;left:29.5%;top:103px; height: 73px;width:41%;color:#DDB870;text-align: center;line-height: 73px;font-size: 38px;background-color: #1D268B; z-index: 15;}
.content-item .partner-box .text2{position: absolute;left:26%;top:211px; height: 73px;width:48%;color:#DDB870;text-align: center;line-height: 73px;font-size: 47px;background-color: #1D268B;z-index: 15;}
.content-item .partner-box .text-box{position: absolute;left:10.5%;top:143px; height: 103px;width:77%;text-align: center;line-height: 73px;font-size: 36px;border:4px solid #DDB870;z-index: 10;}
.content-item .partner-box .check-box{position: absolute;left:15%;top:469px; height: 103px;width:84%;line-height: 73px;font-size: 36px;z-index: 10;}
.content-item .partner-box .check-box>div{display: inline-block;vertical-align: top;font-size: 20px;width:32%;}
.content-item .partner-box .check-box>div>div{display: inline-block;vertical-align: top;font-size: 20px;width:33%;}
.content-item .partner-box .check-box>div>div:nth-of-type(1){width:18%;}
.content-item .partner-box .check-box>div>div:nth-of-type(2){width:74%;font-size: 23px;color:white;}
/* 关于我们 */
.content-item .about-box{width:89%;margin: auto;position: relative;}
.content-item .about-box>div{display: inline-block;vertical-align: top;}
.content-item .about-box .pic-box{width: 24%;padding-top:16px;}
.content-item .about-box .pic-box img{height: 77px;}
.content-item .about-box .company-info{width:75%;font-size: 16px;}
.content-item .about-box .top{position: absolute;top:-81px;background-color:#eee; right:30px;height: 60px;width:60px;border-radius: 50%;text-align: center;}
.content-item .about-box .top img{margin-top: 23px;}

/* 底部版权 */
#footer-div{width:100%;height: 110px; color: white;background-color: #1D268B;}
#footer-div .copyright-box{font-size: 14px;text-align: center;line-height: 28px;height: 26px;}



/* 轮播图 */
#imgSwiper1{margin-top:0px;height:425px;}
#imgSwiper1 .swiper-container {width: 100%;height: 425px;}
#imgSwiper1 .swiper-wrapper img{ width: 100%;height: 425px;}

/* 轮播图 */
#imgSwiper2{margin-top:0px;height:425px;}
#imgSwiper2 .swiper-container {width: 100%;height: 425px;}
#imgSwiper2 .swiper-wrapper img{ width: 100%;height: 425px;}


